.app{
    padding-left: 1rem;  /* 16px */
    padding-right: 1rem; /* 16px */
  }
  
  /* For screens >= 640px (small devices) */
  @media (min-width: 640px) {
    .app{
      padding-left: 5vw;
      padding-right: 5vw;
    }
  }
  
  /* For screens >= 768px (medium devices) */
  @media (min-width: 768px) {
    .app{
      padding-left: 7vw;
      padding-right: 7vw;
    }
  }
  
  /* For screens >= 1024px (large devices) */
  @media (min-width: 1024px) {
    .app{
      padding-left: 9vw;
      padding-right: 9vw;
    }
  }